/* =======================================
        DEFAULT VALUES
        Font family : Roboto Condensed
        Greenish Blue :#34c6d3 (buttons,Icons,Links,Lines&Background)
        Steel Gray :#41464b (headings)
        Blue Bayoux :#64707b (Paragraphs)
        white:#fff (Text with Bnlack Backgrounds)
        Black :#000
==========================================*/
/* General CSS */

html,body{
    height: 100%;
    margin:0px;
    padding:0px;
}
body{
    font-family: "Roboto Condensed, sans-serif";
}
p{
    columns: #333333;
    font-size:16px;
    font-weight:300px;
}

h3{
    text-transform: uppercase;
    color:#41464b;
}


/* =======================================
             Home
 =========================================*/
#home{
    height:100%;
}
 #home-cover{
     height:100%;
   background-image: url('../img/bg-home.jpg');

 }
 #home-content-box{
     width:100%;
     height: 100%;
     display: table;
 }
 #home-content-box-inner{
  display:table-cell;
  vertical-align: middle;
  /* text-align: center; */
 }
 #home-heading h3{
     color:#fff;
     font-size: 40px;
     font-weight:700px;
     margin:20px 0 20px 0;
 }

 /* =======================================
             Buttons(Generic
 =========================================*/
 .btn-general{
    
     border-width:3px;
     border:2px solid white;
     border-radius:0;
     padding: 10px 20px 10px 20px;
     font-size:16px;
     font-weight:700px;
     text-transform: uppercase;
 }
 .btn-white{
    border-color: white;
     color:#fff;
 }
 .btn-white:hover,
 .btn-white:focus{
     background-color:#fff;
     color:#41464b;
 }

 /* =======================================
             Parallax(general)
 =========================================*/
 .bg-parallalx{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 }

  /* =======================================
             ANIMATE(general)
 =========================================*/
 #home-cover,#home-heading,#home-btn{
    animation-duration: .5s;
 }
 #home-cover{
     animation-delay: .1s;
     }
 #home-heading{
    animation-delay: .3s;
  
}

#home-btn{
    animation-delay: .1s;
  
}

/* =======================================
             Content (Generic)
 =========================================*/
 .content-box{
     padding:40px 0 40px 0;
 }
 .content-title{
     font-size: 40px;
     font-weight: 600;
     text-align:center;
     margin-bottom:30px;
}
.content-title-underline{
    width:30px;
    height:4px;
    background-color: #34c6d3;
    margin:0 auto 30px auto;
}

/* =======================================
             Services (Generic)
 =========================================*/
 .service-item{
     padding:20px 0 20px 0;
     margin-bottom: 10px;
     cursor: pointer;
 }
 .service-item-icon{
     padding: 15px;
     float:left;
     margin-right: 25px;
     color:#34c6d3;
     width: 75px;
     height:75px;
     text-align: center;
 }
 .service-item:hover .service-item-icon i{
     color:#fff;
     background-color:#34c6d3;
 }
 .service-item-title h3{
     font-size: 15px;
     font-weight: 600;
 }
 .service-item-description p{
     padding-left: 30px;
 }